# 100Mhz clock
set_io CLK100 129

# onboard switches
set_io SWITCH[0] 37
set_io SWITCH[1] 38
set_io SWITCH[2] 39
set_io SWITCH[3] 41

# QSPI
set_io QSS	81
set_io QCK	82
set_io QD[0]	83
set_io QD[1]	84
set_io QD[2]	79
set_io QD[3]	80

# onboard LEDs
set_io LEDS[1] 71
set_io LEDS[2] 67
set_io LEDS[3] 68
set_io LEDS[4] 70
